/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.container-nav {
  border-bottom: 2px dashed #C0C0C0;
}
.navigation {
  margin-left: 22%;
  margin-right: 22%;
}
@media (max-width: 780px) {
  .navigation {
    margin-left: 0%;
    margin-right: 0%;
  }
}
@media (max-width: 500px) {
  .navigation {
    margin-left: 0%;
    margin-right: 0%;
  }
}
.navigation #title {
  float: left;
}
@media (max-width: 780px) {
  .navigation #title {
    display: flex;
    min-width: 100%;
    justify-content: center;
    margin-top: 2rem;
  }
}
@media (max-width: 500px) {
  .navigation #title {
    display: flex;
    min-width: 100%;
    justify-content: center;
    margin-top: 2rem;
  }
}
.navigation .navbar {
  display: flex;
  justify-content: flex-end;
  margin: 2rem;
  margin-top: 3rem;
}
@media (max-width: 780px) {
  .navigation .navbar {
    width: 100%;
    margin: 0;
    justify-content: space-around;
  }
}
@media (max-width: 500px) {
  .navigation .navbar {
    width: 100%;
    margin: 0;
    justify-content: space-around;
  }
}
.navigation .navbar a {
  text-decoration: none;
  color: #212529;
  padding: 1rem;
  font-size: 1.6rem;
}
.footer {
  width: 100%;
  border-top: 2px dashed silver;
  background: #FFEBCD;
}
.footer p {
  text-align: center;
  color: #212529;
  font-size: 1.6rem;
  padding: 20px;
}
.introduction {
  border-bottom: 2px dashed #C0C0C0;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.introduction img {
  margin-bottom: 2rem;
}
@media (max-width: 780px) {
  .introduction h2 {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
@media (max-width: 500px) {
  .introduction h2 {
    width: 96%;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
.introduction p {
  margin-bottom: 2rem;
}
@media (max-width: 780px) {
  .introduction p {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
@media (max-width: 500px) {
  .introduction p {
    width: 96%;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
@media (max-width: 500px) {
  .home {
    width: 96%;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
.content-section {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 780px) {
  .content-section {
    justify-content: space-around;
  }
}
@media (max-width: 500px) {
  .content-section {
    order: 1;
  }
}
.content-section .text-content {
  width: 48%;
  padding-right: 1%;
}
@media (max-width: 500px) {
  .content-section .text-content {
    width: 100%;
    order: 2;
  }
}
.content-section .img-content {
  width: 48%;
  padding-left: 1%;
}
@media (max-width: 500px) {
  .content-section .img-content {
    width: 100%;
    text-align: center;
    order: 3;
  }
}
.content-section .img-content img {
  border-radius: 10px;
}
@media (max-width: 500px) {
  .content-section .img-content img {
    width: 100%;
  }
}
.inverse-content {
  padding-bottom: 30px;
  border-bottom: 2px dashed #C0C0C0;
}
.inverse-content .text-content {
  padding-left: 1%;
  padding-right: 0;
}
.inverse-content .img-content {
  padding-right: 1%;
  padding-left: 0;
}
@media (max-width: 500px) {
  .inverse-content .img-content {
    width: 100%;
    text-align: center;
    order: 3;
  }
}
.content-destination {
  width: 75%;
  margin: 0 auto 30px;
}
@media (max-width: 780px) {
  .content-destination {
    width: 95%;
    margin-left: 2rem;
    margin-right: 1rem;
  }
}
@media (max-width: 500px) {
  .content-destination {
    width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
.content-destination img {
  border-radius: 10px;
}
@media (max-width: 780px) {
  .content-destination img {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .content-destination img {
    width: 96%;
  }
}
.content-pick {
  padding-top: 30px;
  border-top: 2px dashed #C0C0C0;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 780px) {
  .content-pick {
    justify-content: space-around;
  }
}
@media (max-width: 500px) {
  .content-pick {
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
  }
}
.content-pick .destination {
  width: 30%;
  margin-bottom: 30px;
}
@media (max-width: 500px) {
  .content-pick .destination {
    width: 80%;
    margin-left: 5rem;
    margin-right: 5rem;
  }
}
button {
  background-color: #17A2B8;
  color: #FFFFFF;
  border: 0.2rem solid #17A2B8;
  font-family: 'roboto';
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  font-size: 1.6rem;
  padding: 1rem;
  border-radius: 1.5rem;
}
@media (max-width: 500px) {
  button {
    width: 100%;
  }
}
.form {
  border-radius: 5px;
  background-color: lightgray;
  padding: 2rem;
  margin: 2rem;
  font-size: 1.6rem;
}
.form input[type=text],
.form select,
.form textarea {
  width: 50%;
  padding: 12px;
  border: 0.1rem solid black;
  border-radius: 0.4rem;
  box-sizing: border-box;
}
.form label {
  padding: 2rem, 2rem, 2rem, 2rem;
  display: inline-block;
}
.form input[type=submit] {
  background-color: #17A2B8;
  color: white;
  padding: 1.2rem 2rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 50%;
}
